<h1>Let's Play Dice</h1>

<p>You have two independent die and the combined value paired role is below</p>

<% die1=rand(1..6) %>
<% die2=rand(1..6) %>

<p>
The two dice roll as...

<img src="/images/dice/<%=die1%>.svg">
and
<img src="/images/dice/<%=die2%>.svg">
</p>

<p>
The total is <%= die1 + die2%>
</p>

<a href="/dice">Roll again.</a>