<h1>Welcome Destiny Enthusiasts</h1>

<p>Looking forward to witnessing your light, members of the Uncrwnd</p>

<% armor = ["Tesseract Tau", "Malificarum", "Mjolnir", "Mithral"] %>

<p>We have <%= armor.count %> armor sets.</p>

<ul>
  <% for armor in armor%>
    <li><%=armor%><li>
  <% end %>
<ul>